@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*@font-face {
  font-family: "RoxboroughCF";
  src: url("/font/Roxborough/CF.ttf");
}*/

/* Estilos generales */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  font-family: "Merriweather", serif; 
}
.seccion-oscura {
  background-color: black;
  color: white;
}
.seccion-clara {
  color: black;
  background-color: white;
}
.seccion-titulo {
  font-size: 2.5rem;
  text-align: center;
  padding: 10px 0px;
  font-family:"Unna", serif;
}
.seccion-texto {
  font-size: 1rem;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}
.seccion-descripcion {
  font-size: 1.5rem;
  color:#000000;
  font-family: "sans";
  text-align: center;
  margin-bottom: 1rem;
}
.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0d6efd;
}
.texto-negro {
  color: black;
}
.texto-blanco {
  color: white;
}
/* Barra de navegacion */
.navbar {
  padding: 0.5rem;
  background-color: #000000;
}
.navbar-nav {
  transition: all 0.2s ease;
}
.nav-item a {
  padding: 5px 10px;
  font-size: 1rem;
  color: #ffffff;
  transition: all 0.2s ease;
}
.nav-item:hover a {
  border-radius: 5%;
  background-color:#ffffff;
  color: #000000;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
.navbar-brand img {
  width:200px;
}
.navbar-toggler {
  background-color: #ffffff;
}
/* Seccion Hero */
.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
  z-index: 10;
}
.hero-principal{
  padding: 3rem;
}
.hero-imagen-desarrollador {
  width: 100px;
  height: 100px;
  border: 3px solid #000000;
  border-radius: 50%;
}
.hero-principal h2 {
font-size: 2rem;
font-family: "sans";
color: #000000;
}
 /* Circulo */
.espacio-circulo {
  position: relative;
  background-color: aqua;
  width: 100%;
  height: 50px;
  border: 2px solid black;
}
.espacio-circulo .circulo {
  position: absolute;
  opacity: 0;
  width: 4%;
  height: 50%;
  border: 2px solid black;
  border-radius: 50%;
  top: 10px;
  left: 0px;
/*animation: nombre (animation-name), duracion (animation-duration), curva de velocidad (animation-timing-function), retraso (animation-delay), repeticiones (animation-iteration-count), direccion (animation-direction)*/
animation: movCirculo 2s linear 3s 0 normal;
/*animation-fill-mode: backwards; /*Comportamiento del fotograma*/
}

 /* nubes */
.nubes > i {
  font-size: 3rem;
  color:rgba(13, 110, 253,0.7);
  position: absolute;
  opacity: 0;
}
.nubes .one {
  top: 50px;
  left: -10px;
  animation: movNubes 20s linear 0s infinite normal;
}
.nubes .two {
  top: 90px;
  left: -30px;
  z-index: 11;
  animation: movNubes 30s linear 0s infinite normal;
}
.nubes .tree {
  top: 150px;
  left: 20px;
  z-index: 11;
  animation: movNubes 20s linear 0s infinite normal;
}
.nubes .four {
  top: 220px;
  left: -30px;
  animation: movNubes 25s linear 0s infinite normal;
}
.nubes .five {
  top: 250px;
  left: -10px;
  animation: movNubes 30s linear 0s infinite normal;
}
.nubes .six {
  top: 290px;
  left: 30px;
  animation: movNubes 35s linear 0s infinite normal;
}
/* Animaciones */
@keyframes movNubes {
  to {
  opacity: 1;
  }
  from {
    opacity: 0.5;
    left: 576px;}
}

 /* Sobre mi */ 
 .sobre-mi {
  height: 50%;
  padding: 20px;
 }
 .sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
 }

 /* Experiencias*/
.experiencia {
  padding: 40px 40px 20px;
 }
.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.experiencia i {
  font-size: 2.5rem;
  color: #ffffff;
  background-color: #000000;
  padding: 8px 19px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
} 
.experiencia .columna:hover {
  color: white;
  background-color:black;
}
 .experiencia-titulo {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
  font-family:"Unna", serif;
 }
.badge-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.badge {
  margin: 5px;
}

/* Proyectos */
.proyectos-recientes {
  padding: 20px 40px 20px 40px;
}
.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}
.proyectos-contenedor {
  padding-top: 0px;
  margin-bottom: 20px;
}
.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.proyectos {
  position: relative;
  width: 100%;
}
.proyectos:hover img {
  opacity: 0.2;
}
.proyectos:hover .overlay {
  opacity: 1;
}
.overlay .iconos-contenedor {
  display: flex;
}
.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Articulos */
.articulos {
  min-height: 500px;
  padding: 0px;
}
.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}
.card-header {
  font-weight: bold;
}
.card ul a {
  text-decoration: none;
}
/* Testimonios */
.testimonios {
  padding: 0px 40px 70px
}
.testimonios .carousel {
  max-width: 800px;
}
.carousel-item {
  max-height: 450px;
}
.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonio-imagen {
  width: 150px;
  height: 150px;
  margin: 10px 10px 20px 10px;
}
.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "sans";
}
.testimonio-info {
  font-weight: bold;
  text-align: center;
}
.testimonio-info p {
  margin-bottom: 0;
}
.testimonio-info .cliente {
  font-size: 1.2rem;
}
.testimonio-info .cargo {
  font-size: 0.9rem;
}

/* Contacto */
.contacto .container {
  max-width: 1100px;
  min-height: 150px;
  padding: 20px;
}
.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.contacto .row {
  width: 70%;
  display: flex;
  align-items: center;
}
.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}
.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
  vertical-align:-0.125em
}
.contacto button:hover {
  color: black;
  background-color: white;
}
.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */
footer {
  min-height: 400px;
  position: relative;
}
.footer-logo {
  height: 150px;
  margin: 0px;
}
.footer-texto {
  font-size: 1.2rem;
  padding: 20px;
  margin-bottom: 30px;
}
.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}
.iconos-redes-sociales a:hover i {
  color: black;
}
.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Label botton */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 80%;
}
.boton {
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.boton:hover {
  background-color: rgba(35,61,255, 0.5);
}
.boton i {
  font-size: 30px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }
}
@media screen and (max-width: 768px) { 
  .navbar-brand {
    display: none
  }
  .contacto .row {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-brand {
    display: none
  }
  .navbar-collapse {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width:576px) {
  .box {
    left: 85%;
  }
}
@media screen and (min-width:700px) { 
  .hero-inferior-imagen{
    max-width: 600px;
  };
}
@media screen and (min-width:768px) {
  .nav-item a {
    font-size: 1.2rem;
  }
  .box {
    left: 90%;
  }
}
@media screen and (min-width:992px) {
  .navbar-brand img {
    width:150px;
  }
  .box {
    left: 93%;
  }
}

