:root {
    --color-azul-oscuro: #050A30;
    --color-azul-celeste:#CAE8FF;
    --color-azul-rey:#233DFF;
    --color-azul-marino:#5CB6F9;
    --color-azul-oceano:#12229D;
    --color-btn-info: #0d6efd;
    --color-circle-sun: #C48828;
    --color-sun:#F39F18;
    --color-hero:#f5f6f7;
    --colo-moon:#D3D3D3;
}